Repository voxpupuli/puppet-prosody, pull requests merged in 2021-04, with the labels that each got.

#69 Manage prosody upstream package repository
  .fixtures.yml
  data/common.yaml
  files/prosody.gpg
  manifests/init.pp
  manifests/package.pp
Labels: enhancement

#70 cleanup metadata.json / allow newer dependencies, Drop Puppet 5 support
  metadata.json
Labels: backwards-incompatible

#71 modulesync 4.1.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .msync.yml
  Dockerfile
  Gemfile
Labels: modulesync

#72 release 1.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
