Repository voxpupuli/puppet-prosody, pull requests merged in 2021-09, with the labels that each got.

#78 modulesync 4.2.0
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .yardopts
  Dockerfile
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#80 Fix a syntax error in deeply nested custom_options.
  templates/prosody.cfg.erb
  templates/virtualhost.cfg.erb
Labels: bug

#74 Fixed ssl block creation (#73)
  CHANGELOG.md
  spec/defines/virtualhost_spec.rb
  templates/virtualhost.cfg.erb
Labels: bug

#82 add support for Debian (buster/bullseye)
  data/os/Debian.yaml
  hiera.yaml
  metadata.json
Labels: enhancement

#76 added ldap as an acceptable authentication value.
  CHANGELOG.md
  types/authentication.pp
Labels: enhancement

#81 Show the loading of modules for specific components in the README example.
  README.md
Labels: docs
